h1 {
	padding: 20px;
	border: 5px solid red;
	margin-left: 400px;
	margin-right: 500px;
}

img {
	 display: block;
    margin: auto;
    width: 40%;    
}

table {
	background-color: orange;
	font-size: 300%;
}

h1.intro {
    color: red;
}

#pizza {
	color: red;
}

@media (max-width: 500px){
  main {
    width: 100%;
  }
  #external-links{
    width: 100%;
  }
  #external-links ul{
    font-size: 40%;
  }
}